/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/page_background_img.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
}

.wrapper {
  margin: 0 auto;
  min-width: 310px;
  max-width: 480px;
}

.nav__logo {
  background-color: black;
  width: 100%;
}
.nav__logo-img {
  padding: 10px;
  width: 150px;
  height: 40px;
}

.header__title {
  padding: 20px;
  color: white;
  font-size: 20px;
  line-height: 2rem;
}
.header__title-span-text {
  display: block;
}
.header__subtitle {
  font-size: 14px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 15px;
  color: white;
}
.header__subtitle-hidden {
  display: none;
}

.menu-section {
  display: none;
}

.companies__section {
  padding: 0 5px;
}
.companies__section-block {
  background-color: snow;
  height: 110px;
  display: flex;
  align-items: center;
}
.companies__section-block.wrapper {
  overflow: hidden;
  border-radius: 10px;
  margin-top: 10px;
}
.companies__section-block_rating {
  display: none;
}
.companies__section-block_company {
  font-weight: bold;
  padding: 0 0 5px 30px;
  font-size: 20px;
}
.companies__section-block_description {
  font-size: 14px;
  padding: 5px;
  color: gray;
  text-align: center;
}
.companies__section-block_logo img {
  margin-left: 5px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid black;
}
.companies__section-block_button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 250px;
}
.companies__section-block_button-container-text {
  font-size: 8px;
  padding: 2px;
  background-color: limegreen;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.companies__section-block_button-container-stars {
  font-size: 10px;
  padding: 10px;
  color: gold;
  align-self: flex-end;
}
.companies__section-block_button-container-stars.text {
  color: black;
  font-weight: bold;
  font-size: 14px;
  display: none;
}
.companies__section-block_button-container-payButton {
  margin-top: 10px;
  align-self: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  border: none;
  background-color: limegreen;
  font-size: 14px;
  padding: 5px;
  width: 90%;
}

@media (min-width: 481px) {
  .wrapper {
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
  }

  .nav__logo {
    text-align: center;
    background-color: transparent;
  }
  .nav__logo-img {
    width: 300px;
    height: 100px;
  }

  .header__title {
    font-size: 30px;
  }
  .header__title-span-text {
    display: inline;
  }
  .header__subtitle {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  .header__subtitle-hidden {
    color: gray;
    font-size: 14px;
    padding: 10px 0;
    display: block;
  }

  .menu-section {
    display: flex;
    justify-content: space-around;
    background: #43433d;
    padding: 10px;
    border-radius: 10px;
  }
  .menu-section__item {
    padding: 10px;
  }
  .menu-section__item a {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
  .menu-section__item a:hover {
    color: black;
  }

  .hidden-plus {
    display: none;
  }

  .companies__section {
    padding: 0;
    margin-top: -10px;
    position: relative;
  }
  .companies__section-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .companies__section-block_rating {
    grid-column: 4;
    font-weight: bold;
    padding-left: 25px;
    font-size: 30px;
    display: block;
  }
  .companies__section-block_company {
    display: none;
  }
  .companies__section-block_logo img {
    width: 100%;
    border: none;
    height: 112px;
    border-radius: 0;
    margin: 0;
    clip-path: polygon(90% 0, 100% 50%, 90% 98%, 0 99%, 0 0);
    background-color: black;
  }
  .companies__section-block_description {
    width: 100%;
  }
  .companies__section-block_description.prise {
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: black;
  }
  .companies__section-block_button-container {
    max-width: 150px;
  }
  .companies__section-block_button-container-text {
    position: absolute;
    bottom: 10px;
    left: -718px;
    font-size: 13px;
  }
  .companies__section-block_button-container-text.desktop-hidden {
    display: none;
  }
  .companies__section-block_button-container-stars {
    font-size: 15px;
    padding: 10px;
    color: gold;
    align-self: flex-end;
  }
  .companies__section-block_button-container-stars.text {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
