@import "reset";

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/page_background_img.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-attachment: fixed;
}

.wrapper {
  margin: 0 auto;
  min-width: 310px;
  max-width: 480px;
}

.nav__logo {
  background-color: black;
  width: 100%;

  &-img {
    padding: 10px;
    width: 150px;
    height: 40px;
  }
}

.header {
  &__title {
    padding: 20px;
    color: white;
    font-size: 20px;
    line-height: 2rem;

    &-span-text {
      display: block;
    }
  }

  &__subtitle {
    font-size: 14px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    padding: 15px;
    color: white;

    &-hidden {
      display: none;
    }
  }
}

.menu-section {
  display: none;
}

.companies__section {
  padding: 0 5px;

  &-block {
    background-color: snow;
    height: 110px;
    display: flex;
    align-items: center;

    &_user-rating {
      display: none;
    }

    &.wrapper {
      border-radius: 10px;
      margin-top: 10px;
    }

    &_rating {
      display: none;
    }

    &_company {
      font-weight: bold;
      padding: 0 0 5px 30px;
      font-size: 20px;

    }

    &_description {
      font-size: 14px;
      padding: 5px;
      color: gray;
      text-align: center;

    }

    &_logo img {
      margin-left: 5px;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      border: 1px solid black;
    }

    &_button-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-self: stretch;
      width: 250px;

      &-text {
        font-size: 8px;
        padding: 2px;
        background-color: limegreen;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;

        &.desktop {
          display: none;
        }
      }

      &-stars {
        font-size: 10px;
        padding: 10px;
        color: gold;
        align-self: flex-end;

      }

      &-payButton {
        margin-top: 10px;
        align-self: center;
        justify-content: center;
        font-weight: bold;
        color: white;
        border: none;
        background-color: limegreen;
        font-size: 14px;
        padding: 5px;
        width: 90%;
      }
    }
  }
}

@media (min-width: 481px) {

  .wrapper {
    text-align: center;
    margin: 0 auto;
    max-width: 900px;

  }
  .nav__logo {
    text-align: center;
    background-color: transparent;

    &-img {
      width: 300px;
      height: 100px;
    }
  }

  .header {
    &__title {
      font-size: 30px;

      &-span-text {
        display: inline;
      }
    }

    &__subtitle {
      font-size: 16px;
      font-weight: bold;
      background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));

      &-hidden {
        color: gray;
        font-size: 14px;
        padding: 10px 0;
        display: block;
      }
    }
  }
  .menu-section {
    display: flex;
    justify-content: space-around;
    background: #43433d;
    padding: 10px;
    border-radius: 10px;

    &__item {
      padding: 10px;

      & a {
        text-transform: uppercase;
        font-weight: bold;
        color: white;
      }

      & a:hover {
        color: black;
      }
    }
  }
  .hidden-plus {
    display: none;
  }
  .companies__section {
    padding: 0;
    margin-top: -10px;
    position: relative;

    &-block {
      display: grid;
      grid-template-columns:1fr 1fr 1fr 1fr 1fr;

      &_user-rating {
        display: block;
        margin-left: 30px;

        .stars {
          color: goldenrod;
          padding: 5px;

          &:hover {
            color: gold;
            cursor: pointer;
          }
        }

        .text {
          font-weight: bold;
        }
      }

      &_rating {
        grid-column: 4;
        font-weight: bold;
        padding-left: 25px;
        font-size: 30px;
        display: block;
      }

      &_company {
        display: none;
      }

      &_logo {
        position: relative;
      }

      &_logo img {
        width: 100%;
        border: none;
        height: 112px;
        border-radius: 10px;
        margin: 0;
        clip-path: polygon(90% 0, 100% 50%, 90% 98%, 0 99%, 0 0);
        background-color: black;
      }


      &_description {
        width: 100%;

        &.prise {
          font-size: 20px;
          font-weight: bold;
          display: block;
          color: black;
        }
      }

      &_button-container {
        max-width: 150px;
        padding-left: 20px;
        margin: 0;

        &-payButton {
          margin-top: 30px;
          height: 50px;
          justify-content: center;

          &:hover {
            background-color: mediumspringgreen;
            cursor: pointer;
            outline: none;
            border: none;
            font-size: 16px;
          }
        }

        &-text {
          position: absolute;
          margin-top: -8px;
          z-index: 2;
          padding: 8px;
          font-size: 10px;
          width: 70%;
          clip-path: polygon(100% 0%, 90% 49%, 100% 100%, 0 100%, 0 0);

          &.desktop {
            display: block;
          }

          &.desktop-hidden {
            display: none;
          }
        }

        &-stars {
          display: none;
        }
      }
    }
  }

}
